/* Estilos generales */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif; /* Usamos la fuente Montserrat */
    margin: 0;
    background-color: #c4c6cc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5%;
}

p, ul, li {
    line-height: 2;
    font-size: 1.5rem
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

#empresa, #clients, #services {
    padding: 120px; /* Ajusta este valor según la altura de tu navbar */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0; /* Se coloca en la parte superior */
    left: 0; /* Se alinea a la izquierda */
    width: 100%; /* Ocupa el ancho */
    z-index: 1000; /* Asegura que el navbar esté encima del contenido */
    border-radius: 5px;
}


/* Estilo para la imagen */
.navbar .logo {
    width: 171px; /* Ajusta el tamaño de la imagen */
    height: 105px;
    object-fit: cover;
    margin-left: 50px;
}

/* Contenedor de los botones */
.navbar .nav-links {
    display: flex;
    margin-right: 50px;
    font-size: larger;
}

/* Estilo para los botones */
.navbar .nav-links a {
    color: #49B1C6;
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Inicialmente, el borde es transparente */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

/* Separador vertical entre los botones */
.navbar .nav-links a:not(:first-child) {
    border-left: 1px solid #798c9b; /* Línea vertical gris claro */
}

/* Hover para los botones */
.navbar .nav-links a:hover {
    background-color: transparent; /* Fondo sigue siendo transparente */
    border-color: #ddd; /* El borde se vuelve gris claro en hover */
    border-radius: 15px;
}

/* Efecto de borde redondeado en hover */
.navbar .nav-links a:not(:first-child):hover {
    border-radius: 15px; /* Borde más redondeado al pasar el ratón */
}

.main-section-section {
    background: url('../assets/download.jpeg');
    height: calc(100vh - 110px); /* Resta la altura del navbar para ocupar el resto de la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    align-content: center;
}


/* Sección principal */
.main-section {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.68);
    height: 45%;
    padding: 0.5% 0;


}

/* Título principal */
.main-section h1 {
    color: white;
    margin-bottom: 20px;
}

/* Subtítulo */
.main-section p {
    color: white;
    margin-bottom: 30px;
}

/* Estilo para el botón */
.main-section .btn {
    padding: 12px 30px;
    font-size: 18px;
    color: white;
    background-color: #49B1C6;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Hover para el botón */
.main-section .btn:hover {
    background-color: #657c9a;
}

.us-section-section {
    background-color: #a4b5c9;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* O cualquier altura necesaria */
    padding: 0;
}

.us-section {
    text-align: center;
    max-width: 95%;
    width: 100%;
}

.us-section h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Subtítulo */
.us-section p {
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* Sección Nuestra Filosofía */
.philosophy-section section {
    padding: 40px;
    background-color: #a4b5c9;
}

.philosophy-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

/* Texto a la izquierda */
.philosophy-text {
    width: 50%;
    padding: 50px;
}

.philosophy-text h2 {
    color: #333;
    margin-bottom: 20px;
}

.philosophy-text ul {
    font-size: 18px;
    color: #666;
    list-style-type: disc;
    padding-left: 20px;
}

.philosophy-text ul li {
    margin-bottom: 10px;
}

/* Imagen a la derecha */
.philosophy-image {
    width: 50%;
}

/* Ajustar la imagen en pantallas pequeñas */
@media (max-device-width: 768px) {
    .philosophy-section {
        flex-direction: column;
        text-align: center;
    }

    .philosophy-text {
        width: 80%;
    }

    .philosophy-image {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
}

/* Estilo para la sección de información */
.info, .amount {
    padding: 40px;
    background-color: #f9f9f9;
}

/* Contenedor de los divs dentro de la sección */
.info-section, .amount-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px; /* Espacio entre los divs */
}

/* Estilo para cada div interno que es una tarjeta */
.info-box, .amount-box {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Borde entre las tarjetas (divs) */
.info-box:not(:last-child), .amount-box:not(:last-child) {
    border-right: solid #ddd; /* Línea de separación entre divs */
}

/* Estilo para el texto dentro de las tarjetas */
.info-box, .amount-box h3 {
    color: #333;
    margin-bottom: 20px;
}


.info-box, .amount-box p {
    color: #666;
    line-height: 1.8; /* Espaciado entre las líneas de los párrafos */
}

/* Estilos en pantallas pequeñas */
@media (max-device-width: 768px) {

    .info-section {
        flex-direction: column; /* Apilar los divs verticalmente */
        text-align: center;
    }

    .info-box {
        width: 95%; /* Ocupa el 100% del ancho en dispositivos móviles */
        margin-bottom: 20px; /* Agregar espacio entre las cajas */
    }

    /* Remover el borde entre las tarjetas en pantallas pequeñas */
    .info-box:not(:last-child) {
        border-right: none;
    }
}

/* Sección de servicios */
.services-title {
    text-align: center;
    color: #657c9a;
}

.services-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px; /* Espacio entre los divs */
    flex-wrap: wrap; /* Asegura que las tarjetas se ajusten en pantallas pequeñas */
    margin-top: 40px;
}

/* Estilo para cada div de servicio */
.services-box {
    display: flex;
    flex-direction: column;
    flex: 1; /* Mantiene los divs con el mismo tamaño */
    background-color: #ffffff;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    cursor: pointer; /* Hace que el div sea clickeable */
    transition: all 0.3s ease-in-out; /* Transición suave */
    height: 100%;
}

/* Estilo para las imágenes dentro de los divs */
.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Añadir efecto de zoom en hover */
}

/* Efecto de hover para la imagen */
.services-box:hover .service-image {
    transform: scale(1.05); /* Le da un efecto de aumento en la imagen */
}

/* Estilo para los títulos dentro de los servicios */
.services-box h3 {
    color: #333;
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 2rem;
}

/* Estilo para el párrafo dentro de los divs */
.services-box p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.8;
    display: none; /* El párrafo está oculto por defecto */
    margin-top: 10px;
    transition: all 0.3s ease;
}

/* Estilo para cuando el div se expande */
.services-box.expanded {
    padding-bottom: 20px; /* Espacio extra cuando se expande */
}

/* Mostrar el párrafo cuando el servicio está expandido */
.services-box.expanded p {
    display: block;
}

/* Hover sobre la caja de servicio */
.services-box:hover {
    transform: translateY(-5px); /* Eleva el servicio un poco al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Aumenta la sombra en hover */
}


/* Estilos en pantallas pequeñas */
@media (max-device-width: 768px) {
    .services-section {
        flex-direction: column;
        text-align: center;
    }

    .services-box {
        margin-bottom: 20px;
        width: 100%;
    }

    .services-box {
        align-items: center;
    }

}

/* Estilo para el título centrado */
.carousel {
    background-color: #A4B5C9;
}

.carousel-title {
    text-align: center;
    color: #657c9a;
}

.carousel-container {
    width: 100%;
    overflow: hidden; /* Oculta las imágenes fuera del contenedor */
    position: relative;
}

.carousel-images {
    display: flex; /* Organiza las imágenes en una fila */
    width: fit-content; /* La longitud del contenedor depende del contenido */
    animation: slide 30s linear infinite; /* La animación es continua */
}

.carousel-image {
    width: 450px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    object-fit: cover;
    margin-right: 20px; /* Espacio entre las imágenes */
    border-radius: 10%;
}

.carousel-images img:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última imagen */
}

@keyframes slide {
    0% {
        transform: translateX(0); /* Comienza al principio */
    }
    100% {
        transform: translateX(-50%); /* Desplazamiento hacia la izquierda hasta el final de la primera sección */
    }
}

.stats-section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.stat-box {
    text-align: center;
}

.stat-number {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.stat-box p {
    color: #777;
}


/* Estilo para la sección de información */
.stats-section {
    padding: 40px;
    background-color: #f9f9f9;
}

/* Contenedor de los divs dentro de la sección */
.info-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px; /* Espacio entre los divs */
}

/* Estilo para cada div interno que es una tarjeta */
.info-box {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Borde entre las tarjetas (divs) */
.info-box:not(:last-child) {
    border-right: solid #ddd; /* Línea de separación entre divs */
}

/* Estilo para el texto dentro de las tarjetas */
.info-box h3 {
    color: #333;
    margin-bottom: 20px;
}

.info-box p {
    color: #666;
    line-height: 1.8; /* Espaciado entre las líneas de los párrafos */
}

/* Estilos en pantallas pequeñas */
@media (max-device-width: 768px) {
    .info-section {
        flex-direction: column;
        text-align: center;
    }

    .info-box {
        margin-bottom: 20px;
    }

    /* Remover el borde entre las tarjetas en pantallas pequeñas */
    .info-box:not(:last-child) {
        border-right: none;
    }
}

/* Sección Nuestra Filosofía */
.partner-section section {
    padding: 40px;
    background-color: #a4b5c9;
}

.partner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

/* Texto a la izquierda */
.partner-text {
    width: 50%;
    padding: 50px;
}

.partner-text h2 {
    color: #333;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 150px;
}

.partner-image {
    width: 50%;
}


/* Estilos básicos para la sección de Contacto */
#contact {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-section p {
    margin-bottom: 30px;
}

.contact-form {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.social-media a:hover {
    color: #007bff;
}

@media (max-device-width: 768px) {

    .social-media {
        margin-top: 15px;
    }

    .main-section {
        padding: 16% 0px;
    }

    .us-section {
        font-size: 40px;
    }

}


.contact-info, .about-info, .social-info {
    width: 30%; /* Cada columna tiene un 30% de ancho */
    padding: 10px; /* Espaciado interno para las columnas */
}

.contact-info h3, .about-info h3, .social-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p, .about-info p, .social-info p {
    font-size: 14px;
    line-height: 1.5;
}

.social-info a {
    color: white;
    text-decoration: none;
}

.social-info a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333; /* Fondo oscuro para el footer */
    color: white; /* Texto blanco */
    padding: 20px 0; /* Espaciado alrededor del footer */
}

.footer-container {
    display: flex; /* Usamos flexbox para distribuir las columnas */
    justify-content: space-between; /* Espacios equitativos entre las columnas */
    max-width: 1200px; /* Máxima anchura */
    margin: 0 auto; /* Centrado horizontal */
    padding: 0 20px; /* Espaciado interno */
}

.footer-container h3 {
    font-size: 1.17rem;
}

.footer-container p {
    font-size: 1rem;
}

/* Estilos de responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Las columnas se apilan en dispositivos más pequeños */
        align-items: center; /* Centramos las columnas */
    }

    .contact-info, .about-info, .social-info {
        width: 80%; /* Hacemos las columnas más anchas en pantallas pequeñas */
        margin-bottom: 20px; /* Añadimos un margen entre las columnas */
    }
}